body {
    background:#007065;
  }
  div,div:before,div:after {
    height:0;
    width:0;
    position:absolute;
  }
  div {
    left:75px;
    bottom:100px;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom: 100px solid #F5C181;
  }
  div:before {
    content:'';
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom: 100px solid #FFEECF;
    left:-125px;
    top:-50px;
  }
  div:after {
    content:'';
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom: 100px solid #00A79D;
    top:50px;
    left:-125px;
    z-index:-1
  }