body {
    background-color:#62306D;
    margin:0;
    position:absolute;
}
.pillar {
    height:200px;
    width:75px;
    background-color:#F7EC7D;
    border-radius:70px 70px 0 0;
    position:absolute;
    top:100px;
}
.square {
    height:100px;
    width:20px;
    background-color:#F7EC7D;
    position:absolute;
    left:75px;
    top:200px;
}
.bottom {
    height:75px;
    width:105px;
    background-color:#F7EC7D;
    border-radius:0 70px 70px 0;
    position:absolute;
    left:95px;
    top:225px
}
.pSquare {
    height:100px;
    width:100px;
    background-color:#62306D;
    position:absolute;
    left:75px;
    top:125px;
    border-radius:0 0 0 25px;
}