body {
    background:#293462;
    margin:0
  }
  div:before {
    content:'';
    height:10px;
    width:30px;
    background:#A64942;
    position:absolute;
    top:150px;
    left:35px;
    z-index:1
  }
  div {
    content:'';
    height:150px;
    width:100px;
    background:#FFF1C1;
    position:absolute;
    left:150px;
    top:50px;
    border-radius:100px 100px 40px 40px
  }
  div:after {
    content:'';
    height:50px;
    width:30px;
    background:#FE5F55;
    position:absolute;
    top:150px;
    left:35px;
    border-radius:0 0 10px 10px
}