body {
    background-color: #E3516E;
    margin:0;
    position:absolute;
}
.square {
    height:150px;
    width:150px;
    background-color:#D9D9D9;
    position:relative;
    left:250px;
}
.cylander {
    height:150px;
    width:150px;
    background-color:#D9D9D9;
    border-radius:0 0 100px 100px;
    transform:rotate(45deg);
    position:relative;
    bottom:100px;
    left:200px
}